#/root/.not_logged_in_yet
# Network Settings
PRESET_NET_CHANGE_DEFAULTS="1"
## Ethernet
PRESET_NET_ETHERNET_ENABLED="1"
## WiFi
PRESET_NET_WIFI_ENABLED="0"
PRESET_NET_WIFI_SSID=""
PRESET_NET_WIFI_KEY=""
PRESET_NET_WIFI_COUNTRYCODE=""
PRESET_CONNECT_WIRELESS=""
## Static IP
PRESET_NET_USE_STATIC="0"
PRESET_NET_STATIC_IP=""
PRESET_NET_STATIC_MASK=""
PRESET_NET_STATIC_GATEWAY=""
PRESET_NET_STATIC_DNS="9.9.9.9 149.112.112.112"

# System
SET_LANG_BASED_ON_LOCATION="y"
PRESET_LOCALE="en_US.UTF-8"
PRESET_TIMEZONE="{{ timezone }}"

# Root
PRESET_ROOT_PASSWORD="{{ root_password }}"
PRESET_ROOT_KEY=""

# User
PRESET_USER_NAME="{{ username }}"
PRESET_USER_PASSWORD="{{ password }}"
PRESET_USER_KEY=""
PRESET_DEFAULT_REALNAME="{{ user_real_name }}"
PRESET_USER_SHELL="zsh"