INFLUX_URL="https://influxdb.{{ host_local }}"
INFLUX_TOKEN="{{ influxdb_token }}"
INFLUX_ORG="{{ influxdb_org }}"
INFLUX_BUCKET="{{ influxdb_bucket }}"
UPSD_USERNAME="{{ nut_monitor_username }}"
UPSD_PASSWORD="{{ nut_monitor_password }}"
MQTT_PASSWORD="{{ telegraf_mqtt_password }}"
MQTT_TOPIC="tele/{{ hostname }}/SENSOR"