{
    "PresetList": [
        {
            "AlignAVStart": true,
            "AudioCopyMask": [
                "copy:aac",
                "copy:ac3",
                "copy:dts",
                "copy:flac",
                "copy:opus"
            ],
            "AudioEncoderFallback": "ac3",
            "AudioLanguageList": [
                "ita",
                "eng"
            ],
            "AudioList": [
                {
                    "AudioBitrate": 640,
                    "AudioCompressionLevel": -1.0,
                    "AudioDitherMethod": "auto",
                    "AudioEncoder": "copy:ac3",
                    "AudioMixdown": "5point1",
                    "AudioNormalizeMixLevel": false,
                    "AudioSamplerate": "auto",
                    "AudioTrackDRCSlider": 0.0,
                    "AudioTrackGainSlider": 0.0,
                    "AudioTrackQuality": 1.0,
                    "AudioTrackQualityEnable": false
                }
            ],
            "AudioSecondaryEncoderMode": true,
            "AudioTrackSelectionBehavior": "all",
            "ChapterMarkers": true,
            "ChildrenArray": [],
            "Default": false,
            "FileFormat": "av_mp4",
            "Folder": false,
            "FolderOpen": false,
            "InlineParameterSets": false,
            "MetadataPassthrough": true,
            "Mp4iPodCompatible": false,
            "Optimize": false,
            "PictureAllowUpscaling": false,
            "PictureAutoCrop": true,
            "PictureBottomCrop": 2,
            "PictureChromaSmoothCustom": "",
            "PictureChromaSmoothPreset": "off",
            "PictureChromaSmoothTune": "none",
            "PictureColorspaceCustom": "",
            "PictureColorspacePreset": "off",
            "PictureCombDetectCustom": "",
            "PictureCombDetectPreset": "default",
            "PictureCropMode": 0,
            "PictureDARWidth": 755,
            "PictureDeblockCustom": "strength=strong:thresh=20:blocksize=8",
            "PictureDeblockPreset": "off",
            "PictureDeblockTune": "medium",
            "PictureDeinterlaceCustom": "",
            "PictureDeinterlaceFilter": "decomb",
            "PictureDeinterlacePreset": "default",
            "PictureDenoiseCustom": "",
            "PictureDenoiseFilter": "off",
            "PictureDenoisePreset": "",
            "PictureDenoiseTune": "none",
            "PictureDetelecine": "off",
            "PictureDetelecineCustom": "",
            "PictureForceHeight": 0,
            "PictureForceWidth": 0,
            "PictureHeight": 576,
            "PictureItuPAR": false,
            "PictureKeepRatio": true,
            "PictureLeftCrop": 6,
            "PictureModulus": 2,
            "PicturePAR": "auto",
            "PicturePARHeight": 15,
            "PicturePARWidth": 16,
            "PicturePadBottom": 0,
            "PicturePadColor": "black",
            "PicturePadLeft": 0,
            "PicturePadMode": "none",
            "PicturePadRight": 0,
            "PicturePadTop": 0,
            "PictureRightCrop": 6,
            "PictureRotate": "angle=0:hflip=0",
            "PictureSharpenCustom": "",
            "PictureSharpenFilter": "off",
            "PictureSharpenPreset": "",
            "PictureSharpenTune": "",
            "PictureTopCrop": 0,
            "PictureUseMaximumSize": true,
            "PictureWidth": 720,
            "PresetDescription": "H.264 video (up to 576p25) and AC3/DTS surround audio, in an MP4 container.",
            "PresetDisabled": false,
            "PresetName": "HQ 576p x264 crf20",
            "SubtitleAddCC": false,
            "SubtitleAddForeignAudioSearch": false,
            "SubtitleAddForeignAudioSubtitle": false,
            "SubtitleBurnBDSub": false,
            "SubtitleBurnBehavior": "none",
            "SubtitleBurnDVDSub": false,
            "SubtitleLanguageList": [
                "ita",
                "eng"
            ],
            "SubtitleTrackSelectionBehavior": "all",
            "Type": 1,
            "UsesPictureFilters": true,
            "VideoAvgBitrate": 7000,
            "VideoColorMatrixCodeOverride": 0,
            "VideoEncoder": "x264",
            "VideoFramerate": "25",
            "VideoFramerateMode": "cfr",
            "VideoGrayScale": false,
            "VideoHWDecode": 0,
            "VideoLevel": "auto",
            "VideoMultiPass": true,
            "VideoOptionExtra": "",
            "VideoPreset": "slower",
            "VideoProfile": "high",
            "VideoQSVDecode": false,
            "VideoQualitySlider": 20.0,
            "VideoQualityType": 2,
            "VideoScaler": "swscale",
            "VideoTune": "grain",
            "VideoTurboMultiPass": true,
            "x264Option": "",
            "x264UseAdvancedOptions": false
        }
    ],
    "VersionMajor": 53,
    "VersionMicro": 0,
    "VersionMinor": 0
}