## Version 2024/07/16
server {
    {% include "roles/swag/templates/nginx/common.j2" %}

    server_name {{ speedtest_tracker_subdomain }}.*;

    location / {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
ff
        # Remove upstream header to prevent duplication
        proxy_hide_header Access-Control-Allow-Origin;

        # Add clean, correct CORS header
        add_header 'Access-Control-Allow-Origin' 'https://{{ site_url }}' always;
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS' always;
        add_header 'Access-Control-Allow-Headers' 'Authorization, Content-Type' always;

        set $upstream_app {{ speedtest_tracker_container_name }};
        set $upstream_port 80;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }
}