---
- name: Make sure that Watchtower container is created and running
  community.docker.docker_container:
    name: "{{ watchtower_container_name }}"
    image: containrrr/watchtower
    pull: true
    state: started
    env:
      WATCHTOWER_CLEANUP: "true"
      WATCHTOWER_POLL_INTERVAL: "7200"
      DOCKER_API_VERSION: "1.49"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    restart_policy: unless-stopped
