{
  "default-address-pools": {{ docker_address_pools | to_json }},
{% if docker_install_nvidia_runtime == 'always' or (docker_install_nvidia_runtime == 'auto' and gpu_present) %}
  "default-runtime": "nvidia",
  "runtimes": {
    "nvidia": {
      "args": [],
      "path": "nvidia-container-runtime"
    }
  },
{% endif %}
  "dns": {{ dns_nameservers | default(['9.9.9.9']) | to_json }}
}