    listen 443 ssl;
    listen [::]:443 ssl;
    http2 on;

    include /config/nginx/ssl.conf;

    client_max_body_size 0;

{% if swag_maxmind_enable | default(False) %}
    if ($lan-ip = yes) { set $geo-whitelist yes; }
    if ($geo-whitelist = no) { return 404; }
{% endif %}
