---
title: {{ homer_title }}
subtitle: {{ homer_subtitle }}
logo: "/assets/tools/homer-icons/logo.png"

#stylesheet:
#  - "assets/custom.css"

header: true
footer: false
columns: 4
connectivityCheck: true

defaults:
  layout: columns # Either 'columns', or 'list'
  colorTheme: dark # One of 'auto', 'light', or 'dark'

theme: default

colors:
  light:
    highlight-primary: "{{ colors.color0 }}"
    highlight-secondary: "{{ colors.color0 }}"
    highlight-hover: "{{ colors.color0 }}"
    background: "{{ colors.background }}"
    card-background: "{{ colors.color0 }}"
    text: "{{ colors.color4 }}"
    text-header: "{{ colors.color4 }}"
    text-title: "{{ colors.foreground }}"
    text-subtitle: "{{ colors.color15 }}"
    status-offline: "{{ colors.color9 }}"
    status-online: "{{ colors.color10 }}"

  dark:
    highlight-primary: "{{ colors.color0 }}"
    highlight-secondary: "{{ colors.color0 }}"
    highlight-hover: "{{ colors.color0 }}"
    background: "{{ colors.background }}"
    card-background: "{{ colors.color0 }}"
    text: "{{ colors.color4 }}"
    text-header: "{{ colors.color4 }}"
    text-title: "{{ colors.foreground }}"
    text-subtitle: "{{ colors.color15 }}"
    status-offline: "{{ colors.color9 }}"
    status-online: "{{ colors.color10 }}"

# Switch to explicit media items because they're too much customized.
services:
  - name: "Media"
    icon: "fas fa-photo-video"
    items:
{% for item in dashboard_apps if item.category == "media" %}
      - {{ item }}
{% endfor %}

  - name: "Services"
    icon: "fas fa-stream"
    items:
{% for item in dashboard_apps if item.category == "services" %}
      - {{ item }}
{% endfor %}

  - name: "System"
    icon: "fas fa-cog"
    items:
{% for item in dashboard_apps if item.category == "system" %}
      - {{ item }}
{% endfor %}
      - name: "SWAG Dashboard"
        logo: /assets/tools/homer-icons/linuxserver.png
        url: "https://dashboard.{{ site_url }}"
        target: "_blank"

      # See here for details https://github.com/bastienwirtz/homer/issues/478#issuecomment-1192372131
      - name: "PiHole"
        logo: /assets/tools/homer-icons/pihole.png
        url: "https://{{ pihole_address }}"
        apikey: "{{ homer_api_keys['PiHole'] }}"
        type: "PiHole"
        apiVersion: 6
        target: "_blank"

# Switch to explicit media items because they're too much customized.
  - name: "ServArr"
    icon: "fas fa-search-dollar"
    items:
{% for item in dashboard_apps if item.category == "servarr" %}
      - {{ item }}
{% endfor %}
