---
title: {{ homer_title }}
subtitle: {{ homer_subtitle }}
logo: "/assets/tools/homer-icons/logo.png"

stylesheet:
  - "assets/custom.css"

header: true
footer: false
columns: 4
connectivityCheck: true

theme: default
colors:
  light:
    highlight-primary: "{{ colors.color0 }}"
    highlight-secondary: "{{ colors.color0 }}"
    highlight-hover: "{{ colors.color0 }}"
    background: "{{ colors.background }}"
    card-background: "{{ colors.color0 }}"
    text: "{{ colors.color4 }}"
    text-header: "{{ colors.color4 }}"
    text-title: "{{ colors.foreground }}"
    text-subtitle: "{{ colors.color15 }}"
    status-offline: "{{ colors.color9 }}"
    status-online: "{{ colors.color10 }}"

  dark:
    highlight-primary: "{{ colors.color0 }}"
    highlight-secondary: "{{ colors.color0 }}"
    highlight-hover: "{{ colors.color0 }}"
    background: "{{ colors.background }}"
    card-background: "{{ colors.color0 }}"
    text: "{{ colors.color4 }}"
    text-header: "{{ colors.color4 }}"
    text-title: "{{ colors.foreground }}"
    text-subtitle: "{{ colors.color15 }}"
    status-offline: "{{ colors.color9 }}"
    status-online: "{{ colors.color10 }}"

services:
  - name: "Media"
    icon: "fas fa-photo-video"
    items:
{% for item in web_applications if "media" in item.category and item.url != "" %}
      - name: "{{ item.name }}"
        logo: "{{ item.logo }}"
        url: "{{ item.url }}"
        target: "_blank"
{% endfor %}

  - name: "Services"
    icon: "fas fa-stream"
    items:
{% for item in web_applications if "services" in item.category and item.url != "" %}
      - name: "{{ item.name }}"
        logo: "{{ item.logo }}"
        url: "{{ item.url }}"
        target: "_blank"
{% endfor %}

  - name: "System"
    icon: "fas fa-cog"
    items:
{% for item in web_applications if "system" in item.category and item.url != "" %}
      - name: "{{ item.name }}"
        logo: "{{ item.logo }}"
        url: "{{ item.url }}"
        target: "_blank"
{% endfor %}
      - name: "Cockpit"
        logo: /assets/tools/homer-icons/cockpit.png
        url: "https://cockpit.{{ host_local }}"
        target: "_blank"
      - name: "SWAG Dashboard"
        logo: /assets/tools/homer-icons/linuxserver.png
        url: "https://dashboard.{{ host_local }}"
        target: "_blank"
      - name: "PiHole"
        logo: /assets/tools/homer-icons/pihole.png
        url: "http://192.168.1.2/admin"
        target: "_blank"

  - name: "Home Automation"
    icon: "fas fa-home"
    items:
{% for item in web_applications if "smarthome" in item.category and item.url != "" %}
      - name: "{{ item.name }}"
        logo: "{{ item.logo }}"
        url: "{{ item.url }}"
        target: "_blank"
{% endfor %}

#- name: "PiKVM"
#  logo: /assets/tools/homer-icons/pikvm.png
#  url: "http://pikvm.box/"
#  target: "_blank"


