[Unit]
Description=Powertop auto-tune (timer)

[Timer]
Unit=powertop.service
# Wait 2 minutes after boot before first applying
OnBootSec=2min

[Install]
WantedBy=multi-user.target