---
# General variables
hostname: "{{ inventory_hostname }}"
dot_nameservers:
  [
    185.95.218.42@853#dns.digitale-gesellschaft.ch,
    94.140.15.140@853#dns-unfiltered.adguard.com,
  ]
ntp_timezone: "{{ timezone }}"
locale: en_US.UTF-8
lan_network: 192.168.178.0/24
dns_nameservers: [192.168.178.2, 9.9.9.9, 149.112.112.112]

# User
username: funkysloth
guid: "1000"
shell: /usr/bin/zsh