# snapraid-btrfs-runner configuration
{{ ansible_managed | comment }}

[snapraid-btrfs]
executable = {{ snapraid_btrfs_executable }}
pool = {{ snapraid_btrfs_pool | lower }}
cleanup = {{ snapraid_btrfs_cleanup | lower }}

[snapper]
executable = {{ snapper_executable }}

[snapraid]
executable = {{ snapraid_executable }}
config = {{ snapraid_config }}
deletethreshold = {{ snapraid_deletethreshold }}
touch = {{ snapraid_touch | lower }}

[logging]
file = {{ snapraid_logging_file }}
maxsize = {{ snapraid_logging_maxsize }}

[scrub]
enabled = {{ snapraid_scrub_enabled | lower }}
plan = {{ snapraid_scrub_plan }}
older-than = {{ snapraid_scrub_older_than }}

[healthchecks]
url = {{ snapraid_healthchecks_io_host }}/ping/{{ snapraid_runner_healthchecks_io_uuid }}