## Version 2024/07/16
server {
    {% include "roles/swag/templates/nginx/common.j2" %}

    server_name {{ openwebui_subdomain }}.*;

    location / {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;

        # Remove any CORS headers sent by the backend first
        proxy_hide_header Access-Control-Allow-Origin;
        proxy_hide_header Access-Control-Allow-Methods;
        proxy_hide_header Access-Control-Allow-Headers;

        # These headers are for the actual request response,
        # allowing origins and methods for non-preflight requests (GET, POST, etc.)
        add_header 'Access-Control-Allow-Origin' 'https://{{ site_url }}';
        add_header 'Access-Control-Allow-Methods' 'GET, POST, OPTIONS, PUT, DELETE'; # Still good practice to include
        add_header 'Access-Control-Allow-Headers' 'DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization,X-Emby-Authorization,x-emby-token';

        set $upstream_app {{ openwebui_container_name }};
        set $upstream_port 8080;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }
}
