---
- name: Check if hd-idle is installed
  command:
    cmd: which hd-idle
  ignore_errors: true
  register: hdidle
  changed_when: hdidle.rc != 0

- name: Install hd-idle
  when: hdidle.rc != 0
  vars:
    release:
      tag: v1.21
  block:
    - name: Create the temporary directory
      ansible.builtin.file:
        path: /tmp/hd-idle
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Grab the latest amd64 deb package
      ansible.builtin.get_url:
        url: https://github.com/adelolmo/hd-idle/releases/download/{{ release['tag'] }}/hd-idle_{{ release['tag'] | regex_replace('^v', '') }}_amd64.deb
        dest: /tmp/hd-idle

    - name: Install the deb package
      ansible.builtin.apt:
        deb: /tmp/hd-idle/hd-idle_{{ release['tag'] | regex_replace('^v', '') }}_amd64.deb

- name: Install the hd-idle configuration file
  ansible.builtin.template:
    src: hd-idle.default.j2
    dest: /etc/default/hd-idle
    owner: root
    group: root
    mode: "0644"

- name: Make sure that hd-idle is started and enabled on boot
  ansible.builtin.systemd:
    name: hd-idle
    state: started
    enabled: true
    masked: false

#- name: Install the hd-idle parser for InfluxDB
#  when: '"influxdb" in containers | default(false)'
#  block:
#    - name: Install `uv`
#      ansible.builtin.shell:
#        cmd: curl -LsSf https://astral.sh/uv/install.sh | env UV_UNMANAGED_INSTALL="/usr/local/bin" UV_NO_MODIFY_PATH=1 sh
#
#    - name: Fix `uv`/`uvx` ownership and perms
#      ansible.builtin.file:
#        path: "{{ item }}"
#        owner: root
#        group: root
#        mode: '0755'
#      loop:
#        - /usr/local/bin/uv
#        - /usr/local/bin/uvx
#
#    - name: Copy the script
#      ansible.builtin.copy:
#        src: hd_idle_parser.py
#        dest: /usr/local/bin/hd_idle_parser.py
#        owner: root
#        group: root
#        mode: '0755'
#
#    - name: Add the script to crontab
#      ansible.builtin.cron:
#        name: "hd-idle parser"
#        user: root
#        job: >-
#          /usr/local/bin/hd_idle_parser.py
#          --influx-server https://{{ influxdb_subdomain }}.{{ host_local }}
#          --influx-token {{ influxdb_token }}
#          --influx-org {{ influxdb_org }}
#          --influx-bucket {{ influxdb_bucket }}
#          {{ hd_idle_log_file }}
#        minute: "*/5"
#        state: present