---
- name: Check if hd-idle is installed
  command:
    cmd: which hd-idle
  ignore_errors: true
  register: hdidle
  changed_when: hdidle.rc != 0

- name: Install hd-idle
  when: hdidle.rc != 0
  vars:
    release:
      tag: v1.21
  block:
    - name: Create the temporary directory
      ansible.builtin.file:
        path: /tmp/hd-idle
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Grab the latest amd64 deb package
      ansible.builtin.get_url:
        url: https://github.com/adelolmo/hd-idle/releases/download/{{ release['tag'] }}/hd-idle_{{ release['tag'] | regex_replace('^v', '') }}_amd64.deb
        dest: /tmp/hd-idle

    - name: Install the deb package
      ansible.builtin.apt:
        deb: /tmp/hd-idle/hd-idle_{{ release['tag'] | regex_replace('^v', '') }}_amd64.deb

- name: Install the hd-idle configuration file
  ansible.builtin.template:
    src: hd-idle.default.j2
    dest: /etc/default/hd-idle
    owner: root
    group: root
    mode: "0644"

- name: Make sure that hd-idle is started and enabled on boot
  ansible.builtin.systemd:
    name: hd-idle
    state: started
    enabled: true
    masked: false
