---
- name: Installing Zsh and git
  ansible.builtin.apt:
    name:
      - git
      - zsh
    state: present
    update_cache: true

- name: Check if .zshrc exists
  stat:
    path: /home/{{ username }}/.zshrc
  register: stat_rc_result

- name: Check if .oh-my-zsh exists
  stat:
    path: /home/{{ username }}/.oh-my-zsh
  register: stat_oh_my_zsh_result

- name: Cloning  oh-my-zsh
  become: false
  git:
    repo: https://github.com/robbyrussell/oh-my-zsh
    dest: /home/{{ username }}/.oh-my-zsh
  when: not stat_oh_my_zsh_result.stat.exists

- name: Creating new ~/.zshrc
  become: false
  copy:
    remote_src: true
    src: /home/{{ username }}/.oh-my-zsh/templates/zshrc.zsh-template
    dest: /home/{{ username }}/.zshrc
  when: not stat_rc_result.stat.exists
