---
- name: Set the timezone
  community.general.timezone:
    name: "{{ timezone }}"
  when: timezone is defined

- name: Generate the locale (Debian and Ubuntu)
  when: ansible_os_family == 'Debian'
  community.general.locale_gen:
    name: "{{ locale }}"
    state: present

- name: Configure locale
  ansible.builtin.lineinfile:
    path: /etc/default/locale
    regexp: '^LANG='
    line: 'LANG="{{ locale | default("en_US.UTF-8") }}"'
