---
- name: Localization
  include_tasks: localization.yml

- name: Network configuration
  include_tasks: networking.yml

- name: Time synchronization
  include_tasks: timesync.yml

- name: Repo/Packages
  include_tasks: packages.yml

- name: Prepare users
  include_tasks: user.yml

- name: Prepare zsh and dotfiles (eg. oh-my-zsh)
  include_tasks: zsh.yml

- name: Set powersaving policies
  include_tasks: powersaving.yml
  when: system_enable_powersaving

# - name: Fix netplan
#   include_tasks: netplan.yml
#   when: netplan_config is defined
