## Version 2024/07/16
server {
    {% include "roles/swag/templates/nginx/common.j2" %}

    server_name {{ calibreweb_subdomain }}.*;

    location / {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        add_header Access-Control-Allow-Origin *;

        set $upstream_app {{ calibreweb_container_name }};
        set $upstream_port 8083;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
        proxy_set_header X-Scheme $scheme;
    }

    # OPDS feed for eBook reader apps
    # Even if you use Authelia, the OPDS feed requires a password to be set for
    # the user directly in Calibre-Web, as eBook reader apps don't support
    # form-based logins, only HTTP Basic auth.
    location /opds/ {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app {{ calibreweb_container_name }};
        set $upstream_port 8083;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
        proxy_set_header X-Scheme $scheme;
    }
}