# When running as plugin of SWAG container, monitored services can be refreshed with
# `docker exec swag python3 /app/auto-uptime-kuma.py`
---
- name: Install Uptime Kuma config
  ansible.builtin.file:
    path: "{{ docker_dir }}/{{ uptime_kuma_container_name }}/data"
    state: directory
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0750"

- name: Create docker network
  ansible.builtin.include_tasks:
    file: network.yml

- name: Make sure that Uptime Kuma container is created and running
  community.docker.docker_container:
    name: "{{ uptime_kuma_container_name }}"
    image: louislam/uptime-kuma:1.23.17
    pull: true
    networks:
      - name: "{{ uptime_kuma_network_name }}"
    state: started
    env:
      PUID: "{{ guid }}"
      PGID: "{{ guid }}"
      TZ: "{{ timezone }}"
    volumes:
      - "{{ docker_dir }}/{{ uptime_kuma_container_name }}/data:/app/data"
    restart_policy: unless-stopped

- name: Install the Uptime Kuma config files
  ansible.builtin.template:
    src: "{{ uptime_kuma_container_name }}.subdomain.conf.j2"
    dest: "{{ docker_dir }}/swag/nginx/proxy-confs/{{ uptime_kuma_container_name }}.subdomain.conf"
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0644"

- name: Setup backup cron job
  ansible.builtin.include_tasks: tasks/backup_service.yml
  vars:
    service_name: "{{ uptime_kuma_container_name }}"
    cron_schedule: "0 5 * * *"
    backup_cli_args:
      source_paths: "{{ docker_dir }}/{{ uptime_kuma_container_name }}"
      destination_path: "{{ mergerfs_root }}/docker-volumes-backup"
      container_names_str: "{{ uptime_kuma_container_name }}"
