---
- name: Create the necessary Prowlarr folder
  file:
    path: "{{ docker_dir }}/{{ prowlarr_container_name }}"
    state: directory
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0755"

- name: Create docker network
  ansible.builtin.include_tasks:
    file: network.yml

- name: Make sure that FlareSolverr container is created and running
  community.docker.docker_container:
    name: flaresolverr
    image: ghcr.io/flaresolverr/flaresolverr:latest
    pull: true
    networks:
      - name: "{{ prowlarr_network_name }}"
    state: started
    env:
      LOG_LEVEL: info
      TZ: "{{ timezone }}"
    restart_policy: unless-stopped

- name: Make sure that Prowlarr container is created and running
  community.docker.docker_container:
    name: "{{ prowlarr_container_name }}"
    image: lscr.io/linuxserver/prowlarr:develop
    pull: true
    networks:
      - name: "{{ prowlarr_network_name }}"
    state: started
    env:
      PUID: "{{ guid }}"
      PGID: "{{ guid }}"
      TZ: "{{ timezone }}"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ docker_dir }}/{{ prowlarr_container_name }}:/config"
    restart_policy: unless-stopped
    labels:
      swag.uptime-kuma.enabled: "true"
      swag.uptime-kuma.monitor.name: "{{ prowlarr_dashboard_name }}"
      swag.uptime-kuma.monitor.url: "{{ prowlarr_dashboard_url }}"

- name: Install the SWAG config files
  template:
    src: "templates/{{ prowlarr_container_name }}.subdomain.conf.j2"
    dest: "{{ docker_dir }}/swag/nginx/proxy-confs/{{ prowlarr_container_name }}.subdomain.conf"
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0644"

- name: Setup backup cron job
  ansible.builtin.include_tasks: tasks/backup_service.yml
  vars:
    service_name: "{{ prowlarr_container_name }}"
    cron_schedule: "0 5 * * *"
    backup_cli_args:
      source_paths: "{{ docker_dir }}/{{ prowlarr_container_name }}"
      destination_path: "{{ mergerfs_root }}/docker-volumes-backup"
      container_names_str: "{{ prowlarr_container_name }}"
