[Unit]
Description=LCD display daemon
Documentation=man:LCDd(8) http://www.lcdproc.org/

[Service]
User=root
ExecStart={{ lcdproc_prefix }}/sbin/LCDd -s 1 -f -c {{ lcdproc_conf_dir }}/LCDd.conf

[Install]
WantedBy=multi-user.target
