---
- name: Create the necessary Authelia folders
  ansible.builtin.file:
    path: "{{ docker_dir }}/{{ authelia_container_name }}/config"
    state: directory
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0755"

- name: Install the Authelia config files (1)
  template:
    src: configuration.yml.j2
    dest: "{{ docker_dir }}/{{ authelia_container_name }}/config/configuration.yml"
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0600"

- name: Install the Authelia config files (2)
  copy:
    src: users_database.yml
    dest: "{{ docker_dir }}/{{ authelia_container_name }}/config/users_database.yml"
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0600"

- name: Create docker network
  ansible.builtin.include_tasks:
    file: network.yml

- name: Make sure that Authelia container is created and running
  community.docker.docker_container:
    name: "{{ authelia_container_name }}"
    image: docker.io/authelia/authelia:latest
    pull: true
    state: started
    networks:
      - name: "{{ authelia_network_name }}"
    env:
      PUID: "{{ guid }}"
      PGID: "{{ guid }}"
      TZ: "{{ timezone }}"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ docker_dir }}/{{ authelia_container_name }}/config:/config"
    restart_policy: unless-stopped

- name: Install the SWAG config files (1)
  template:
    src: authelia.subdomain.conf.j2
    dest: "{{ docker_dir }}/swag/nginx/proxy-confs/authelia.subdomain.conf"
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0644"

- name: Install the SWAG config files (2)
  template:
    src: authelia-server.conf.j2
    dest: "{{ docker_dir }}/swag/nginx/authelia-server.conf"
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0644"
