---
# For reference: https://wiki.selfhosted.show/tools/snapraid-btrfs/#drive-setup

- name: Install required system packages
  ansible.builtin.package:
    name:
      - btrfs-progs
    state: latest

# Disks need to be mounted in order to manipulate subvolumes.
# These mount points will be unmounted at the end
- name: Temporary mount the data disks
  ansible.posix.mount:
    path: "{{ mounts_root_location }}/dataroot{{ item.data_disk_id }}"
    src: "LABEL={{ item.label }}"
    fstype: btrfs
    state: ephemeral  # do not write fstab
  loop: "{{ snapraid_data_disks }}"
  when:
    - mounts_use_subvolumes
    - snapraid_data_disks is defined

- name: Create the 'data' subvolumes
  community.general.btrfs_subvolume:
    name: "data"
    filesystem_label: "{{ item.label }}"
  loop: "{{ data_disks }}"
  when:
    - mounts_use_subvolumes
    - data_disks[0] is defined

- name: Mount the data drives (optionally with subvolumes)
  ansible.posix.mount:
    path: "{{ mounts_root_location }}/data{{ item.data_disk_id }}"
    src: "LABEL={{ item.label }}"
    fstype: btrfs
    opts: "{{ 'subvol=/data' if mounts_use_subvolumes else 'defaults' }}"
    state: mounted
  loop: "{{ data_disks }}"
  when: data_disks[0] is defined

- name: Create and mount the 'content' subvolumes
  when:
    - mounts_use_subvolumes
    - snapraid_data_disks is defined
  block:
    - name: Create the 'content' subvolumes
      community.general.btrfs_subvolume:
        name: "content"
        filesystem_label: "{{ item.label }}"
      loop: "{{ snapraid_data_disks | selectattr('content', 'equalto', true) | list }}"
    - name: Mount the content subvolumes
      ansible.posix.mount:
        path: "{{ mounts_snapraid_content_path }}/disk{{ item.data_disk_id }}"
        src: "LABEL={{ item.label }}"
        fstype: btrfs
        opts: subvol=/content
        state: mounted
      loop: "{{ snapraid_data_disks | selectattr('content', 'equalto', true) | list }}"

- name: Unmount the data disks and delete ephemeral mount points
  when:
    - mounts_use_subvolumes
    - snapraid_data_disks is defined
  block:
    - name: Umount the data disks
      ansible.posix.mount:
        path: "{{ mounts_root_location }}/dataroot{{ item.data_disk_id }}"
        src: "LABEL={{ item.label }}"
        fstype: btrfs
        state: unmounted
      loop: "{{ snapraid_data_disks }}"
    - name: Delete ephemeral mount points
      ansible.builtin.file:
        path: "{{ mounts_root_location }}/dataroot{{ item.data_disk_id }}"
        state: absent
      loop: "{{ snapraid_data_disks }}"

- name: Mount the cache drives
  mount:
    name: "{{ mounts_root_location }}/cache{{ item.cache_disk_id }}"
    src: "LABEL={{ item.label }}"
    fstype: ext4
    state: mounted
    opts: defaults,discard
  loop: "{{ cache_disks }}"
  when: cache_disks[0] is defined

- name: Mount the parity drives
  mount:
    name: "{{ mounts_root_location }}/parity{{ item.parity_disk_id }}"
    src: "LABEL={{ item.label }}"
    fstype: ext4
    state: mounted
  loop: "{{ parity_disks }}"
  when: parity_disks[0] is defined

- name: Mount the MergerFS cached array
  mount:
    name: "{{ mergerfs_root }}"
    src: /mnt/cache*:/mnt/data*
    opts: defaults,category.create=lfs,dropcacheonclose=1,allow_other,use_ino,moveonenospc=1,minfreespace=50G,fsname=mergerfs
    fstype: fuse.mergerfs
    state: mounted
  when: data_disks[0] is defined

- name: Mount the MergerFS array
  mount:
    name: "{{ mergerfs_root }}_slow"
    src: /mnt/data*
    opts: defaults,category.create=mfs,dropcacheonclose=1,allow_other,use_ino,moveonenospc=1,minfreespace=500G,fsname=mergerfs_slow
    fstype: fuse.mergerfs
    state: mounted
  when: data_disks[0] is defined

- name: Mount the MergerFS cache-only array
  mount:
    name: "{{ cache_root }}"
    src: /mnt/cache*
    opts: defaults,category.create=mfs,dropcacheonclose=1,allow_other,use_ino,fsname=mergerfs_cache
    fstype: fuse.mergerfs
    state: mounted
  when: cache_disks[0] is defined
