---
- name: Create the necessary Vaultwarden folder
  file:
    path: "{{ docker_dir }}/{{ vaultwarden_container_name }}"
    state: directory
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0750"

- name: Create docker network
  ansible.builtin.include_tasks:
    file: network.yml

- name: Make sure that Vaultwarden container is created and running
  community.docker.docker_container:
    name: "{{ vaultwarden_container_name }}"
    image: vaultwarden/server:latest-alpine
    pull: true
    networks:
      - name: "{{ vaultwarden_network_name }}"
    state: started
    env:
      ADMIN_TOKEN: "{{ vaultwarden_admin_token_hash }}"
      DOMAIN: "{{ vaultwarden_dashboard_url }}"
      INVITATIONS_ALLOWED: "false"
      LOG_FILE: /data/vaultwarden.log
      LOG_LEVEL: warn
      SIGNUPS_ALLOWED: "false"
      SIGNUPS_VERIFY: "true"
      SMTP_FROM: "{{ email }}"
      SMTP_HOST: "{{ email_smtp_host }}"
      SMTP_PASSWORD: "{{ email_password }}"
      SMTP_PORT: "'{{ email_smtp_port_startls }}'"
      SMTP_SECURITY: starttls
      SMTP_USERNAME: "{{ email }}"
    volumes:
      - "{{ docker_dir }}/{{ vaultwarden_container_name }}:/data"
    user: "{{ guid }}:{{ guid }}"
    restart_policy: unless-stopped
    labels:
      swag.uptime-kuma.enabled: "true"
      swag.uptime-kuma.monitor.name: "{{ vaultwarden_dashboard_name }}"
      swag.uptime-kuma.monitor.url: "{{ vaultwarden_dashboard_url }}"

- name: Install the Vaultwarden config files
  ansible.builtin.template:
    src: "{{ vaultwarden_container_name }}.subdomain.conf.j2"
    dest: "{{ docker_dir }}/swag/nginx/proxy-confs/{{ vaultwarden_container_name }}.subdomain.conf"
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0644"
