---
- name: Create the necessary Seafile folder
  ansible.builtin.file:
    path: "{{ docker_dir }}/{{ seafile_container_name }}/{{ item }}"
    state: directory
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0755"
  loop:
    - "mysql"
    - "data"

- name: Copy compose files
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "{{ docker_dir }}/{{ seafile_container_name }}/{{ item }}"
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0644"
  loop:
    - .env
    - seafile-server.yml
    - notification-server.yml

- name: Create and start services
  community.docker.docker_compose_v2:
    project_src: "{{ docker_dir }}/{{ seafile_container_name }}"
    files:
      - seafile-server.yml
      - notification-server.yml

- name: Create docker network
  ansible.builtin.include_tasks:
    file: network.yml

- name: Pause until Seafile has created configuration files
  become: true
  ansible.builtin.wait_for:
    path: "{{ docker_dir }}/{{ seafile_container_name }}/data/seafile/conf/seahub_settings.py"

- name: Fix CSRF  # Not sure why it shows as http://https://seafile.mydomain.com
  ansible.builtin.lineinfile:
    path: "{{ docker_dir }}/{{ seafile_container_name }}/data/seafile/conf/seahub_settings.py"
    search_string: "{{ item[0] }}"
    line: "{{ item[0] }} = {{ item[1] }}"
  loop:
    # - ["ALLOWED_HOSTS", "'.{{ site_url }}'"]  # `seahub.sh start` crashes
    - ["CSRF_COOKIE_SECURE", "True"]
    - ["CSRF_COOKIE_SAMESITE", "'Strict'"]
    - ["CSRF_TRUSTED_ORIGINS", "['{{ seafile_dashboard_url }}']"]

# - name: Allow connections from 0.0.0.0
#   become: true
#   ansible.builtin.lineinfile:
#     path: "{{ docker_dir }}/{{ seafile_container_name }}/data/seafile/conf/gunicorn.conf.py"
#     search_string: "bind = "
#     line: "bind = '0.0.0.0:8000'"

- name: Install ONLYOFFICE for document integration
  when: '"onlyoffice" in containers'
  block:
    - name: Include OnlyOffice role
      ansible.builtin.include_role:
        name: onlyoffice
      vars:
        onlyoffice_network_name: "{{ seafile_network_name }}"
        onlyoffice_document_server_domain: "https://{{ seafile_subdomain }}.{{ site_url }}"
    - name: Edit Seahub configuration for OnlyOffice
      ansible.builtin.lineinfile:
        path: "{{ docker_dir }}/{{ seafile_container_name }}/data/seafile/conf/seahub_settings.py"
        search_string: "{{ item[0] }} = "
        line: "{{ item[0] }} = {{ item[1] }}"
      loop:
        - ["ENABLE_ONLYOFFICE", "True"]
        - ["ONLYOFFICE_APIJS_URL", "'https://onlyoffice.{{ site_url }}/web-apps/apps/api/documents/api.js'"]
        - ["ONLYOFFICE_FILE_EXTENSION", "('doc', 'docx', 'ppt', 'pptx', 'xls', 'xlsx', 'odt', 'fodt', 'odp', 'fodp', 'ods', 'fods', 'csv', 'ppsx', 'pps')"]
        - ["ONLYOFFICE_EDIT_FILE_EXTENSION", "('docx', 'pptx', 'xlsx')"]
        - ["ONLYOFFICE_JWT_SECRET", "'{{ onlyoffice_jwt_secret }}'"]
        - ["OFFICE_PREVIEW_MAX_SIZE", "30 * 1024 * 1024  # preview size, 30 MB"]

- name: Restart Seafile container to apply above changes
  community.docker.docker_container:
    name: "{{ seafile_container_name }}"
    state: started
    restart: true

- name: Install the SWAG config files
  template:
    src: "templates/{{ seafile_container_name }}.subdomain.conf.j2"
    dest: "{{ docker_dir }}/swag/nginx/proxy-confs/{{ seafile_container_name }}.subdomain.conf"
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0644"
