## Version 2024/07/16
server {
    {% include "roles/swag/templates/nginx/common.j2" %}

    server_name {{ uptime_kuma_subdomain }}.*;
    add_header 'Access-Control-Allow-Origin' 'https://{{ site_url }}';

    location / {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app {{ uptime_kuma_container_name }};
        set $upstream_port 3001;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }

    location ~ /(status|assets|icon.svg) {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app {{ uptime_kuma_container_name }};
        set $upstream_port 3001;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }
}