<?php
$CONFIG = array (
    'mail_from_address' => '{{ email_login }}',
    'mail_domain' => '{{ email_smtp_host }}',
    'mail_sendmailmode' => 'smtp',
    'mail_smtpmode' => 'smtp',
    'mail_smtphost' => '{{ email_smtp_host }}',
    'mail_smtpport' => '{{ email_smtp_port_startls }}',
    'mail_smtpauth' => 1,
    'mail_smtpname' => '{{ email_login }}',
    'mail_smtppassword' => '{{ email_password }}',
);