## Version 2024/07/16
server {
    {% include "roles/swag/templates/nginx/common.j2" %}

    server_name {{ lazylibrarian_subdomain }}.*;

    location / {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        add_header Access-Control-Allow-Origin 'https://{{ site_url }}' always;

        set $upstream_app {{ lazylibrarian_container_name }};
        set $upstream_port 5299;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }
}
