---
# Notes: this will remux files keeping only English audio and subtitle tracks. Improve to handle multiple languages...
# =======
# for v in *.mkv; do \
#   mkvmerge -o output/$v \
#   -a `mkvmerge -J $v | jq '[.tracks | map(select(.type == "audio" and .properties.language == "eng")) | .[].id] | .[0]'` \
#   -s `mkvmerge -J $v | jq '[.tracks | map(select(.type == "subtitles" and .properties.language == "eng")) | .[].id] | .[0]'` \
#   $v; done
# =======
- name: Create the necessary Sonarr folder
  file:
    path: "{{ docker_dir }}/{{ sonarr_container_name }}"
    state: directory
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0755"

- name: Create docker network
  ansible.builtin.include_tasks:
    file: network.yml

- name: Make sure that Sonarr container is created and running
  community.docker.docker_container:
    name: "{{ sonarr_container_name }}"
    image: ghcr.io/linuxserver/sonarr
    pull: true
    networks:
      - name: "{{ sonarr_network_name }}"
    state: started
    env:
      PUID: "{{ guid }}"
      PGID: "{{ guid }}"
      TZ: "{{ timezone }}"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ docker_dir }}/{{ sonarr_container_name }}:/config"
      - "{{ mergerfs_root }}:/storage"
    restart_policy: unless-stopped
    labels:
      swag.uptime-kuma.enabled: "true"
      swag.uptime-kuma.monitor.name: "{{ sonarr_dashboard_name }}"
      swag.uptime-kuma.monitor.url: "{{ sonarr_dashboard_url }}"

- name: Install the SWAG config files
  template:
    src: "{{ sonarr_container_name }}.subdomain.conf.j2"
    dest: "{{ docker_dir }}/swag/nginx/proxy-confs/{{ sonarr_container_name }}.subdomain.conf"
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0644"

- name: Setup backup cron job
  ansible.builtin.include_tasks: tasks/backup_service.yml
  vars:
    service_name: "{{ sonarr_container_name }}"
    cron_schedule: "0 5 * * *"
    backup_cli_args:
      source_paths: "{{ docker_dir }}/{{ sonarr_container_name }}"
      destination_path: "{{ mergerfs_root }}/docker-volumes-backup"
      container_names_str: "{{ sonarr_container_name }}"
