# https://duplicati.readthedocs.io/en/latest/08-disaster-recovery/
---
- name: Create the Duplicati folder
  file:
    path: "{{ docker_dir }}/{{ duplicati_container_name }}/config/crontabs"
    state: directory
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0755"

- name: Create docker network
  ansible.builtin.include_tasks:
    file: network.yml

- name: Copy the crontab file
  ansible.builtin.template:
    src: "templates/crontab-abc.j2"
    dest: "{{ docker_dir }}/{{ duplicati_container_name }}/config/crontabs/abc"
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0644"

- name: Make sure that Duplicati container is created and running
  community.docker.docker_container:
    name: "{{ duplicati_container_name }}"
    image: ghcr.io/linuxserver/duplicati:latest
    pull: true
    networks:
      - name: "{{ duplicati_network_name }}"
    state: started
    env:
      PUID: "{{ guid }}"
      PGID: "{{ guid }}"
      TZ: "{{ timezone }}"
      SETTINGS_ENCRYPTION_KEY: "{{ duplicati_settings_encryption_key }}"
      DUPLICATI__WEBSERVICE_PASSWORD: "{{ duplicati_webservice_password }}"
      DOCKER_MODS: linuxserver/mods:universal-package-install|linuxserver/mods:universal-cron
      INSTALL_PACKAGES: sqlite3
    volumes:
      - "{{ docker_dir }}/{{ duplicati_container_name }}/config:/config"
      - "{{ mergerfs_root }}/Documents:/source/Documents:ro"
      - "{{ mergerfs_root }}/Pictures:/source/Pictures:ro"
    restart_policy: unless-stopped
    labels:
      swag.uptime-kuma.enabled: "true"
      swag.uptime-kuma.monitor.name: "{{ duplicati_dashboard_name }}"
      swag.uptime-kuma.monitor.url: "{{ duplicati_dashboard_url }}"
      swag.uptime-kuma.monitor.maxretries: "2"

- name: Install the SWAG config files
  ansible.builtin.template:
    src: "templates/{{ duplicati_container_name }}.subdomain.conf.j2"
    dest: "{{ docker_dir }}/swag/nginx/proxy-confs/{{ duplicati_container_name }}.subdomain.conf"
    owner: "{{ guid }}"
    group: "{{ guid }}"
    mode: "0644"

- name: Setup backup cron job
  ansible.builtin.include_tasks: tasks/backup_service.yml
  vars:
    service_name: "{{ duplicati_container_name }}"
    cron_schedule: "0 5 * * *"
    backup_cli_args:
      source_paths: "{{ docker_dir }}/{{ duplicati_container_name }}"
      destination_path: "{{ mergerfs_root }}/docker-volumes-backup"
      container_names_str: "{{ duplicati_container_name }}"
