---
- name: Make sure the Watchtower container is created and running
  docker_container:
    name: "{{ container_name }}"
    image: "containrrr/watchtower"
    pull: yes
    state: 'started'
    env:
      "WATCHTOWER_CLEANUP": "true"
      "WATCHTOWER_POLL_INTERVAL": "7200"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    restart_policy: unless-stopped