services:
  seafile-server:
    image: ggogel/seafile-server:11.0.13
    container_name: {{ seafile_container_name }}
    volumes:
      - {{ docker_dir }}/{{ seafile_container_name }}/seafile-data:/shared
    environment:
      - DB_HOST=db
      - DB_ROOT_PASSWD={{ seafile_db_root_password }}
      - TIME_ZONE={{ timezone }}
      - HTTPS=true
      - SEAFILE_URL={{ seafile_subdomain }}.{{ site_url }}
    depends_on:
      seafile-db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "8082"]
      interval: 5m
      timeout: 10s
      retries: 3
      start_period: 30s
    restart: unless-stopped

  seahub:
    image: ggogel/seahub:11.0.13
    container_name: seahub
    volumes:
      - {{ docker_dir }}/{{ seafile_container_name }}/seafile-data:/shared
      - {{ docker_dir }}/{{ seafile_container_name }}/seahub-avatars:/shared/seafile/seahub-data/avatars
      - {{ docker_dir }}/{{ seafile_container_name }}/seahub-custom:/shared/seafile/seahub-data/custom
    environment:
      - SEAFILE_ADMIN_EMAIL={{ email }}
      - SEAFILE_ADMIN_PASSWORD={{ seafile_admin_password }}
    depends_on:
      seafile-db:
        condition: service_healthy
      seafile-server:
        condition: service_healthy
    restart: unless-stopped

  seahub-media:
    image: ggogel/seahub-media:11.0.13
    container_name: seahub-media
    volumes:
      - {{ docker_dir }}/{{ seafile_container_name }}/seahub-avatars:/usr/share/caddy/media/avatars
      - {{ docker_dir }}/{{ seafile_container_name }}/seahub-custom:/usr/share/caddy/media/custom
    restart: unless-stopped

  seafile-db:
    image: mariadb:10.11.10
    container_name: seafile-db
    environment:
      - MYSQL_ROOT_PASSWORD={{ seafile_db_root_password }}
      - MYSQL_LOG_CONSOLE=true
      - MARIADB_AUTO_UPGRADE=true
    volumes:
      - {{ docker_dir }}/{{ seafile_container_name }}/db-data:/var/lib/mysql
    networks:
      default:
        aliases:
          - db
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--su-mysql", "--connect", "--innodb_initialized"]
      interval: 5m
      timeout: 10s
      retries: 3
      start_period: 30s
    restart: unless-stopped

  seafile-memcached:
    image: memcached:1.6.34
    container_name: seafile-memcached
    entrypoint: memcached -m 1024
    networks:
      default:
        aliases:
          - memcached
    restart: unless-stopped

  seafile-caddy:
    image: ggogel/seafile-caddy:2.8.4
    container_name: seafile-caddy
    expose:
      - "80"
    restart: unless-stopped

networks:
  default:
    name: "{{ seafile_network_name }}"
    external: true