## Version 2021/05/18
# For use with the official Seafile Docker image (https://download.seafile.com/published/seafile-manual/docker/deploy%20seafile%20with%20docker.md)
# Requires that the seafile container uses the following env variables:
#     SEAFILE_SERVER_LETSENCRYPT=true
#     SEAFILE_SERVER_HOSTNAME=seafile.yourdomain.com
# Restart or create the seafile container after enabling this subdomain and restarting the letsencrypt contianer

server {
{% include "roles/swag/templates/nginx/common.j2" %}

    server_name seafile.*;

    location / {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app seafile;
        set $upstream_port 8000;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }
}