networks:
  dawarich_network:
    name: "{{ dawarich_network_name }}"
    external: true

services:
  dawarich_db:
    image: postgis/postgis:17-3.5-alpine
    shm_size: 1G
    container_name: "{{ dawarich_container_name }}_db"
    volumes:
      - db_data_pg_17:/var/lib/postgresql/data
      - shared_data:/var/shared
    networks:
      - dawarich_network
    environment:
      POSTGRES_USER: "{{ dawarich_postgres_username }}"
      POSTGRES_PASSWORD: "{{ dawarich_postgres_password }}"
      POSTGRES_DB: dawarich_production
    restart: always
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U {{ dawarich_postgres_username }} -d dawarich_development" ]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s

  dawarich_app:
    image: freikin/dawarich:latest
    container_name: "{{ dawarich_container_name }}_app"
    volumes:
      - public:/var/app/public
      - watched:/var/app/tmp/imports/watched
      - storage:/var/app/storage
      - db_data_pg_17:/dawarich_db_data
    networks:
      - dawarich_network
    expose:
      - 3000
    stdin_open: true
    tty: true
    entrypoint: web-entrypoint.sh
    command: ['bin/rails', 'server', '-p', '3000', '-b', '::']
    restart: unless-stopped
    environment:
      RAILS_ENV: development
      DATABASE_HOST: dawarich_db
      DATABASE_USERNAME: "{{ dawarich_postgres_username }}"
      DATABASE_PASSWORD: "{{ dawarich_postgres_password }}"
      DATABASE_NAME: dawarich_production
      QUEUE_DATABASE_PATH: /dawarich_db_data/dawarich_development_queue.sqlite3
      CACHE_DATABASE_PATH: /dawarich_db_data/dawarich_development_cache.sqlite3
      CABLE_DATABASE_PATH: /dawarich_db_data/dawarich_development_cable.sqlite3
      MIN_MINUTES_SPENT_IN_CITY: 60
      APPLICATION_HOSTS: "{{ dawarich_subdomain }}.{{ site_url }},127.0.0.1"
      TIME_ZONE: "{{ timezone }}"
      APPLICATION_PROTOCOL: http
      DISTANCE_UNIT: km
      REVERSE_GEOCODING_ENABLED: true
      PHOTON_API_HOST: photon.komoot.io
      PHOTON_API_USE_HTTPS: true
      SELF_HOSTED: true
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "5"
    healthcheck:
      test: [ "CMD-SHELL", "wget -qO - http://127.0.0.1:3000/api/v1/health | grep -q '\"status\"\\s*:\\s*\"ok\"'" ]
      interval: 5m
      retries: 5
      start_period: 30s
      timeout: 10s
    depends_on:
      dawarich_db:
        condition: service_healthy
        restart: true
    labels:
      swag.uptime-kuma.enabled: "true"
      swag.uptime-kuma.monitor.name: "{{ dawarich_dashboard_name }}"
      swag.uptime-kuma.monitor.url: "{{ dawarich_dashboard_url }}"
    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: "4G"

volumes:
{% for item in ['shared_data', 'public', 'watched', 'db_data_pg_17', 'storage'] %}
  {{ item }}:
    driver: local
    driver_opts:
      o: bind
      type: none
      device: "{{ docker_dir }}/{{ dawarich_container_name }}/{{ item }}"
{% endfor %}
