---
- name: Clone snapraid-btrfs-runner repository # noqa latest
  ansible.builtin.git:
    repo: https://github.com/fmoledina/snapraid-btrfs-runner.git
    dest: "{{ snapraid_btrfs_runner_dir }}"
    update: true
    force: true

- name: Copy and configure snapraid-btrfs-runner.conf
  ansible.builtin.template:
    src: snapraid-btrfs-runner.conf.j2
    dest: "{{ snapraid_btrfs_runner_dir }}/snapraid-btrfs-runner.conf"
    owner: root
    group: root
    mode: "0644"

- name: Copy the updated runner, which includes Healthchecks logic
  ansible.builtin.copy:
    dest: "{{ snapraid_btrfs_runner_dir }}/snapraid-btrfs-runner.py"
    src: snapraid-btrfs-runner.py
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: "0644"

- name: Create logging directory in case it's missing
  ansible.builtin.file:
    path: "{{ snapraid_logging_file | dirname }}"
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Create snapraid-btrfs-runner service
  ansible.builtin.copy:
    dest: /etc/systemd/system/snapraid-btrfs-runner.service
    content: |
      [Unit]
      Description=Executor for snapraid-btrfs-runner

      [Service]
      Type=oneshot
      ExecStart=/usr/bin/python3 {{ snapraid_btrfs_runner_dir }}/snapraid-btrfs-runner.py \
        -c {{ snapraid_btrfs_runner_dir }}/snapraid-btrfs-runner.conf
    owner: root
    group: root
    mode: "0644"

- name: Create snapraid-btrfs-runner timer
  ansible.builtin.copy:
    dest: /etc/systemd/system/snapraid-btrfs-runner.timer
    content: |
      [Unit]
      Description=Run snapraid-btrfs-runner every Sunday at 03:00

      [Timer]
      OnCalendar=Sun 03:00:00
      RandomizedDelaySec=30m

      [Install]
      WantedBy=timers.target
    owner: root
    group: root
    mode: "0644"
  notify:
    - Reload systemd
    - Restart snapraid-btrfs-runner timer

- name: Enable and start snapraid-btrfs-runner timer
  ansible.builtin.systemd:
    name: snapraid-btrfs-runner.timer
    enabled: true
    state: started

- name: Final verification of snapraid-btrfs
  ansible.builtin.command:
    cmd: "{{ snapraid_btrfs_executable }} list"
  register: final_snapraid_btrfs_output
  changed_when: false
  ignore_errors: true
  check_mode: false

- name: Display final snapraid-btrfs output
  ansible.builtin.debug:
    var: final_snapraid_btrfs_output.stdout_lines
