---
# Taken from https://github.com/monstermuffin/muffins-awesome-nas-stack
- name: Get SnapRAID installed version (or '0' if not installed).
  block:
    - name: Check if SnapRAID is installed
      ansible.builtin.command: snapraid --version
      register: snapraid_installed_version_output
      changed_when: false
      ignore_errors: true
      check_mode: false

    - name: Set snapraid_installed_version
      ansible.builtin.set_fact:
        snapraid_installed_version: "{{ (snapraid_installed_version_output.stdout | regex_search('([0-9]+\\.[0-9]+(?:\\.[0-9]+)?)', '\\1')) | first if snapraid_installed_version_output.rc == 0 else '0' }}"

- name: Get latest release information from GitHub for SnapRAID
  block:
    - name: Get GitHub latest release page
      ansible.builtin.uri:
        url: https://api.github.com/repos/amadvance/snapraid/releases/latest
        return_content: true
      register: snapraid_github_release_page
      check_mode: false

    - name: Set latest SnapRAID version fact
      ansible.builtin.set_fact:
        snapraid_latest_version: "{{ snapraid_github_release_page.json.tag_name | regex_replace('^v', '') }}"

- name: Compare installed SnapRAID version with the latest version
  ansible.builtin.set_fact:
    snapraid_update_needed: "{{ snapraid_latest_version != snapraid_installed_version }}"

- name: Debug `snapraid_installed_version`
  ansible.builtin.debug:
    var: snapraid_installed_version

- name: Debug snapraid_latest_version
  ansible.builtin.debug:
    var: snapraid_latest_version

- name: Install/update SnapRAID
  when:
    - snapraid_update_needed
  block:
    - name: Install required packages for SnapRAID installation
      ansible.builtin.apt:
        name:
          - build-essential
          - libz-dev
        state: present
        update_cache: true

    - name: Download SnapRAID tarball
      ansible.builtin.get_url:
        url: "https://github.com/amadvance/snapraid/releases/download/v{{ snapraid_latest_version }}/snapraid-{{ snapraid_latest_version }}.tar.gz"
        dest: /tmp/snapraid-{{ snapraid_latest_version }}.tar.gz

    - name: Extract SnapRAID tarball
      ansible.builtin.unarchive:
        src: /tmp/snapraid-{{ snapraid_latest_version }}.tar.gz
        dest: /tmp/
        remote_src: true

    - name: Configure SnapRAID
      ansible.builtin.command:
        cmd: ./configure
        chdir: "/tmp/snapraid-{{ snapraid_latest_version }}"

    - name: Compile SnapRAID
      ansible.builtin.command:
        cmd: make
        chdir: "/tmp/snapraid-{{ snapraid_latest_version }}"

    - name: Install SnapRAID
      ansible.builtin.command:
        cmd: make install
        chdir: "/tmp/snapraid-{{ snapraid_latest_version }}"

    - name: Set SnapRAID executable path (1)
      ansible.builtin.command: "which snapraid"
      register: which_snapraid

    - name: Set SnapRAID executable path (2)
      ansible.builtin.set_fact:
        snapraid_executable: "{{ which_snapraid.stdout }}"

    - name: Display SnapRAID executable path
      ansible.builtin.debug:
        var: snapraid_executable

    - name: Cleanup SnapRAID download
      ansible.builtin.file:
        path: "{{ item }}"
        state: absent
      loop:
        - /tmp/snapraid-{{ snapraid_latest_version }}.tar.gz
        - /tmp/snapraid-{{ snapraid_latest_version }}
