apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    uid: "{{ vllm_prometheus_datasource_uid }}"
    url: http://{{ vllm_container_name }}-prometheus:9090
    isDefault: true
    editable: false
