# -*- coding: utf-8 -*-
SECRET_KEY = "{{ seafile_django_secret_key }}"

TIME_ZONE = "{{ timezone }}"

ALLOWED_HOSTS = ['{{ seafile_subdomain }}.{{ site_url }}', 'localhost', '127.0.0.1']
CSRF_COOKIE_SECURE = True
CSRF_COOKIE_SAMESITE = "Strict"
CSRF_TRUSTED_ORIGINS = ["{{ seafile_dashboard_url }}"]

ENABLE_STORAGE_CLASSES = True

{% if "onlyoffice" in containers %}
ENABLE_ONLYOFFICE = True
ONLYOFFICE_APIJS_URL = "https://onlyoffice.{{ site_url }}/web-apps/apps/api/documents/api.js"
ONLYOFFICE_FILE_EXTENSION = ('doc', 'docx', 'ppt', 'pptx', 'xls', 'xlsx', 'odt', 'fodt', 'odp', 'fodp', 'ods', 'fods', 'csv', 'ppsx', 'pps')
ONLYOFFICE_EDIT_FILE_EXTENSION = ('docx', 'pptx', 'xlsx')
ONLYOFFICE_JWT_SECRET = '{{ onlyoffice_jwt_secret }}'
OFFICE_PREVIEW_MAX_SIZE = 30 * 1024 * 1024  # preview size, 30 MB
{% endif %}