- name: Check if docker-ce is available in APT repos
  ansible.builtin.command: apt-cache madison docker-ce 2> /dev/null
  register: docker_madison
  changed_when: false
  failed_when: false

- name: Check if Docker sources are already defined
  ansible.builtin.set_fact:
    docker_actual_source_is_defined: "{{ docker_madison.stdout_lines | length > 0 }}"

- name: Check 'docker-ce' repo sources
  when: docker_actual_source_is_defined
  block:
    - name: Get Docker source
      ansible.builtin.set_fact:
        docker_actual_first_source: "{{ docker_madison.stdout_lines[0].split('|')[2] | trim }}"
    - name: Fail if 'docker-ce' repo is not from Docker official
      ansible.builtin.fail:
        msg: "Unsupported Docker sources (not from https://download.docker.com)"
      when: not docker_actual_first_source.startswith('https://download.docker.com')

- name: Add Docker APT repository
  become: true
  when: not docker_actual_source_is_defined
  block:
    - name: Download Docker GPG key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: '0644'
        owner: root
        group: root

    - name: Add the repo
      ansible.builtin.deb822_repository:
        name: docker-ce # Name for the repository file (e.g., docker-ce.sources)
        types: [deb]
        uris: ["https://download.docker.com/linux/{{ ansible_distribution | lower }}"]
        suites: ["{{ ansible_distribution_release }}"]
        components: [stable]
        signed_by: /etc/apt/keyrings/docker.asc
        state: present
        enabled: true

- name: "Docker installation"
  become: true
  ansible.builtin.apt:
    update_cache: true
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
      - docker-compose

- name: GPU detection
  block:
    - name: "GPU detection"
      ansible.builtin.shell:
        cmd: "set -o pipefail && lspci | grep -i 'nvidia' 2>&1 || true"
        executable: /bin/bash
      register: gpu_check
      changed_when: false

    - name: "Fact definition"
      ansible.builtin.set_fact:
        gpu_present: "{{ gpu_check.stdout != '' }}"

- name: Install Nvidia Container Toolkit
  when:
    - docker_install_nvidia_runtime == 'always' or (docker_install_nvidia_runtime == 'auto' and gpu_present)
  block:
    - name: Install Nvidia driver (if missing)
      ansible.builtin.include_role:
        name: nvidia

    - name: Download and dearmor NVIDIA Container Toolkit GPG key
      ansible.builtin.get_url:
        url: https://nvidia.github.io/libnvidia-container/gpgkey
        dest: /etc/apt/keyrings/nvidia-container-toolkit-keyring.asc
        mode: '0644'

    - name: Install curl
      ansible.builtin.apt:
        name: curl
        state: present
        update_cache: true

    - name: Add NVIDIA Container Toolkit APT repository
      ansible.builtin.shell:
        cmd: |
          set -o pipefail && curl -s -L https://nvidia.github.io/libnvidia-container/stable/deb/nvidia-container-toolkit.list | \
          sed 's#deb https://#deb [signed-by=/etc/apt/keyrings/nvidia-container-toolkit-keyring.asc] https://#g' | \
          tee /etc/apt/sources.list.d/nvidia-container-toolkit.list
        executable: /bin/bash
      changed_when: true

    - name: Nvidia Container Toolkit installation"
      ansible.builtin.apt:
        update_cache: true
        name:
          - nvidia-container-toolkit

- name: Add the daemon configuration
  ansible.builtin.template:
    src: daemon.json.j2
    dest: /etc/docker/daemon.json
    mode: "0644"
  notify:
    - Restart Docker service
    - Restart Docker socket

- name: Handle persistent data
  block:
    - name: Check if the persistent data folder exists on the remote machine
      ansible.builtin.stat:
        path: "{{ docker_dir }}"
      register: persistent_data
      when: enable_containers | default(false)

    - name: Check if the persistent data folder is empty
      ansible.builtin.find:
        paths:
          - "{{ docker_dir }}/"
        recurse: true
      register: persistent_data_find

    - name: Check if the docker backup exists
      ansible.builtin.stat:
        path: "{{ docker_volumes_backup }}"
      register: docker_backup_find

    - name: Create the persistent data folder on the remote machine
      ansible.builtin.file:
        dest: "{{ docker_dir }}"
        state: directory
        owner: "{{ guid }}"
        group: "{{ guid }}"
        mode: "0755"
        recurse: true
      when: not persistent_data.stat.exists

    #  - name: Restore the "{{ docker_dir }}" folder from the MergerFS array
    #    synchronize:
    #      src: "{{ mergerfs_root }}/docker-volumes-backup"
    #      dest: "{{ docker_dir }}/"
    #      delete: true
    #      recursive: yes
    #    delegate_to: "{{ inventory_hostname }}"
    #    when: docker_backup_find.stat.exists and persistent_data_find.matched < 20 or not persistent_data.stat.exists
