- name: Add Docker APT repository
  become: true
  block:
    - name: Download Docker GPG key
      ansible.builtin.get_url:
        url: https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg
        dest: /etc/apt/keyrings/docker.asc
        mode: '0644'
        owner: root
        group: root

    - name: Add the repo
      ansible.builtin.deb822_repository:
        name: docker-ce # Name for the repository file (e.g., docker-ce.sources)
        types: [deb]
        uris: ["https://download.docker.com/linux/{{ ansible_distribution | lower }}"]
        suites: ["{{ ansible_distribution_release }}"]
        components: [stable]
        signed_by: /etc/apt/keyrings/docker.asc
        state: present
        enabled: true

- name: "Docker installation"
  become: true
  ansible.builtin.apt:
    update_cache: true
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
      - python3-requests  # this is required for community.docker.docker_network module

- name: Add "{{ ansible_user }}" to 'docker' group
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    groups: docker
    append: true

- name: GPU detection
  block:
    - name: "GPU detection"
      ansible.builtin.shell:
        cmd: "set -o pipefail && lspci | grep -i 'nvidia' 2>&1 || true"
        executable: /bin/bash
      register: gpu_check
      changed_when: false

    - name: "Fact definition"
      ansible.builtin.set_fact:
        gpu_present: "{{ gpu_check.stdout != '' }}"

- name: Install Nvidia Container Toolkit
  when:
    - docker_install_nvidia_runtime == 'always' or (docker_install_nvidia_runtime == 'auto' and gpu_present)
  block:
    - name: Install Nvidia driver (if missing)
      ansible.builtin.include_role:
        name: nvidia

    - name: Download and dearmor NVIDIA Container Toolkit GPG key
      ansible.builtin.get_url:
        url: https://nvidia.github.io/libnvidia-container/gpgkey
        dest: /etc/apt/keyrings/nvidia-container-toolkit-keyring.asc
        mode: '0644'

    - name: Install curl
      ansible.builtin.apt:
        name: curl
        state: present
        update_cache: true

    - name: Add NVIDIA Container Toolkit APT repository
      ansible.builtin.shell:
        cmd: |
          set -o pipefail && curl -s -L https://nvidia.github.io/libnvidia-container/stable/deb/nvidia-container-toolkit.list | \
          sed 's#deb https://#deb [signed-by=/etc/apt/keyrings/nvidia-container-toolkit-keyring.asc] https://#g' | \
          tee /etc/apt/sources.list.d/nvidia-container-toolkit.list
        executable: /bin/bash
      changed_when: true

    - name: Nvidia Container Toolkit installation"
      ansible.builtin.apt:
        update_cache: true
        name:
          - nvidia-container-toolkit

- name: Handle persistent data
  block:
    - name: Check if the persistent data folder exists on the remote machine
      ansible.builtin.stat:
        path: "{{ docker_dir }}"
      register: docker_dir_info
      when: enable_containers | default(false)

    - name: Check if the docker backup exists
      ansible.builtin.stat:
        path: "{{ docker_volumes_backup }}"
      register: docker_backup_find

    - name: Create the persistent data folder on the remote machine
      ansible.builtin.file:
        dest: "{{ docker_dir }}"
        state: directory
        owner: "{{ guid }}"
        group: "{{ guid }}"
        mode: "0755"
        recurse: true
      when: not docker_dir_info.stat.exists

    - name: If 'containers' is defined, synchronize only backup of selected services
      when: containers is defined
      block:
        - name: Find all backup directories
          ansible.builtin.find:
            paths: "{{ mergerfs_root }}/docker-volumes-backup/"
            file_type: directory
          register: all_backup_dirs

        - name: Filter backup directories to active services
          ansible.builtin.set_fact:
            docker_services_with_backup: "{{ all_backup_dirs.files | map(attribute='path') | map('split', '/') | map('last') | select('in', containers)}}"

        - name: Synchronize active service backup folders to {{ docker_dir }}
          ansible.posix.synchronize:
            src: "{{ mergerfs_root }}/docker-volumes-backup/{{ item }}"
            dest: "{{ docker_dir }}/"
            delete: true
            recursive: true
          loop: "{{ docker_services_with_backup }}"
          delegate_to: "{{ inventory_hostname }}"
          when:
            - docker_restore_volumes_backup
            - docker_services_with_backup | length > 0

    - name: Restore the "{{ docker_dir }}" folder from the MergerFS array
      when:
        - containers is not defined
        - docker_restore_volumes_backup
      ansible.posix.synchronize:
        src: "{{ mergerfs_root }}/docker-volumes-backup/"
        dest: "{{ docker_dir }}/"
        delete: true
        recursive: true
      delegate_to: "{{ inventory_hostname }}"

- name: Add the daemon configuration
  ansible.builtin.template:
    src: daemon.json.j2
    dest: /etc/docker/daemon.json
    mode: "0644"

- name: Restart service and socket
  block:
  - name: Restart Docker service
    ansible.builtin.systemd:
      name: docker.service
      state: restarted
      enabled: true

  - name: Restart Docker socket
    ansible.builtin.systemd:
      name: docker.socket
      state: restarted
