hostname: "{{ inventory_hostname }}"
timezone: Europe/Rome
dot_nameservers: [185.95.218.42@853#dns.digitale-gesellschaft.ch, 94.140.15.140@853#dns-unfiltered.adguard.com]
ntp_timezone: "{{ timezone }}"
locale: en_US.UTF-8

username: funkysloth
guid: "1000"
shell: /usr/bin/zsh
security_ssh_port: 69

email_login: "{{ username }}"
email_smtp_host: disroot.org
email: "{{ email_login }}@{{ email_smtp_host }}"
email_smtp_port: 465
email_smtp_port_startls: 587

colorscheme: nord

# Packages
extra_packages:
  - git
  - neovim
  - ncdu
  - python3-pip
  - ranger
  - rsync
  - tmux
  - zsh

enable_containers: true
docker_dir: /srv
containers:
  - authelia
  - ntfy
  - onlyoffice
  - radicale
  - seafile
  - vaultwarden

site_url: catafal.co

swag_dashboard_subdomain: swag
swag_cloudflare_tunnel_enable: true
swag_maxmind_enable: true

restic_repository: s3:s3.eu-central-003.backblazeb2.com/nilde-services
retention_args: "--keep-last 2 --keep-daily 2 --keep-weekly 2 --keep-monthly 2 --keep-yearly 2 --prune"
restic_backup_paths:
  - "{{ docker_dir }}/authelia"
  - "{{ docker_dir }}/ntfy"
  - "{{ docker_dir }}/onlyoffice"
  - "{{ docker_dir }}/radicale"
  - "{{ docker_dir }}/seafile"
  - "{{ docker_dir }}/swag"
  - "{{ docker_dir }}/vaultwarden"
