## Version 2024/07/16
server {
    {% include "roles/swag/templates/nginx/internal.j2" %}
    server_name navidrome.*;

    location / {
        include /config/nginx/proxy.conf;
        include /config/nginx/resolver.conf;
        set $upstream_app navidrome;
        set $upstream_port 4533;
        set $upstream_proto http;
        proxy_pass $upstream_proto://$upstream_app:$upstream_port;
    }
}